# Pandas basic

In [1]:
import pandas as pd

In [2]:
cctv_seoul = pd.read_csv("cctv.csv", encoding='utf-8')

In [15]:
type(cctv_seoul)

pandas.core.frame.DataFrame

In [3]:
cctv_seoul.shape

(25, 6)

In [4]:
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [5]:
cctv_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
기관명          25 non-null object
소계           25 non-null int64
2013년도 이전    25 non-null int64
2014년        25 non-null int64
2015년        25 non-null int64
2016년        25 non-null int64
dtypes: int64(5), object(1)
memory usage: 1.2+ KB

In [6]:
cctv_seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [7]:
cctv_seoul.describe()

                소계    2013년도 이전       2014년       2015년       2016년
count    25.000000    25.000000   25.000000   25.000000   25.000000
mean   1515.320000   764.760000  159.480000  205.200000  385.880000
std     616.774656   415.510257  104.132976  137.877059  182.479981
min     825.000000   238.000000   21.000000   30.000000   81.000000
25%    1010.000000   464.000000   78.000000  103.000000  292.000000
50%    1327.000000   573.000000  142.000000  184.000000  377.000000
75%    1884.000000  1070.000000  218.000000  269.000000  467.000000
max    3238.000000  1843.000000  430.000000  584.000000  932.000000

In [10]:
cctv_seoul.columns[0]

'기관명'

In [11]:
cctv_seoul.rename(columns={cctv_seoul.columns[0]:'dist'}, inplace=True)
cctv_seoul.rename(columns={cctv_seoul.columns[1]:'_sum'}, inplace=True)

In [12]:
cctv_seoul.head()

  dist  _sum  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [13]:
cctv_seoul.tail()

   dist  _sum  2013년도 이전  2014년  2015년  2016년
20  용산구  2096       1368    218    112    398
21  은평구  2108       1138    224    278    468
22  종로구  1619        464    314    211    630
23   중구  1023        413    190     72    348
24  중랑구   916        509    121    177    109

In [ ]:
type(cctv_seoul.dist)

In [14]:
s1 = pd.core.series.Series([1,2,3])
s2 = pd.core.series.Series(['one', 'two','three'])
pd.DataFrame(data=dict(숫자=s1, 영어=s2))

   숫자     영어
0   1    one
1   2    two
2   3  three

In [16]:
cctv_seoul.sort_values(by='_sum', ascending=False)

    dist  _sum  2013년도 이전  2014년  2015년  2016년
0    강남구  3238       1292    430    584    932
18   양천구  2482       1843    142     30    467
14   서초구  2297       1406    157    336    398
4    관악구  2109        846    260    390    613
21   은평구  2108       1138    224    278    468
20   용산구  2096       1368    218    112    398
6    구로구  1884       1142    173    246    323
10  동대문구  1870       1070     23    198    579
16   성북구  1651       1009     78    360    204
22   종로구  1619        464    314    211    630
8    노원구  1566        542     57    451    516
7    금천구  1348        674     51    269    354
15   성동구  1327        730     91    241    265
11   동작구  1302        544    341    103    314
19  영등포구  1277        495    214    195    373
13  서대문구  1254        844     50     68    292
17   송파구  1081        529     21     68    463
23    중구  1023        413    190     72    348
1    강동구  1010        379     99    155    377
12   마포구   980        314    118    169    379
24   중랑구   916        509    121    177    109
3    강서구   911        388    258    184     81
5    광진구   878        573     78     53    174
2    강북구   831        369    120    138    204
9    도봉구   825        238    159     42    386

In [17]:
cctv_seoul['last_increase'] = (cctv_seoul['2016년']+cctv_seoul['2015년']+cctv_seoul['2014년'])/cctv_seoul['2013년도 이전']*100

In [18]:
cctv_seoul

    dist  _sum  2013년도 이전  2014년  2015년  2016년  last_increase
0    강남구  3238       1292    430    584    932     150.619195
1    강동구  1010        379     99    155    377     166.490765
2    강북구   831        369    120    138    204     125.203252
3    강서구   911        388    258    184     81     134.793814
4    관악구  2109        846    260    390    613     149.290780
5    광진구   878        573     78     53    174      53.228621
6    구로구  1884       1142    173    246    323      64.973730
7    금천구  1348        674     51    269    354     100.000000
8    노원구  1566        542     57    451    516     188.929889
9    도봉구   825        238    159     42    386     246.638655
10  동대문구  1870       1070     23    198    579      74.766355
11   동작구  1302        544    341    103    314     139.338235
12   마포구   980        314    118    169    379     212.101911
13  서대문구  1254        844     50     68    292      48.578199
14   서초구  2297       1406    157    336    398      63.371266
15   성동구  1327        730     91    241    265      81.780822
16   성북구  1651       1009     78    360    204      63.627354
17   송파구  1081        529     21     68    463     104.347826
18   양천구  2482       1843    142     30    467      34.671731
19  영등포구  1277        495    214    195    373     157.979798
20   용산구  2096       1368    218    112    398      53.216374
21   은평구  2108       1138    224    278    468      85.237258
22   종로구  1619        464    314    211    630     248.922414
23    중구  1023        413    190     72    348     147.699758
24   중랑구   916        509    121    177    109      79.960707

In [19]:
cctv_seoul.sort_values(by='last_increase', ascending=False)

    dist  _sum  2013년도 이전  2014년  2015년  2016년  last_increase
22   종로구  1619        464    314    211    630     248.922414
9    도봉구   825        238    159     42    386     246.638655
12   마포구   980        314    118    169    379     212.101911
8    노원구  1566        542     57    451    516     188.929889
1    강동구  1010        379     99    155    377     166.490765
19  영등포구  1277        495    214    195    373     157.979798
0    강남구  3238       1292    430    584    932     150.619195
4    관악구  2109        846    260    390    613     149.290780
23    중구  1023        413    190     72    348     147.699758
11   동작구  1302        544    341    103    314     139.338235
3    강서구   911        388    258    184     81     134.793814
2    강북구   831        369    120    138    204     125.203252
17   송파구  1081        529     21     68    463     104.347826
7    금천구  1348        674     51    269    354     100.000000
21   은평구  2108       1138    224    278    468      85.237258
15   성동구  1327        730     91    241    265      81.780822
24   중랑구   916        509    121    177    109      79.960707
10  동대문구  1870       1070     23    198    579      74.766355
6    구로구  1884       1142    173    246    323      64.973730
16   성북구  1651       1009     78    360    204      63.627354
14   서초구  2297       1406    157    336    398      63.371266
5    광진구   878        573     78     53    174      53.228621
20   용산구  2096       1368    218    112    398      53.216374
13  서대문구  1254        844     50     68    292      48.578199
18   양천구  2482       1843    142     30    467      34.671731

In [22]:
my_contry = [
    {"dist": "흥덕구", '_sum':70, '2013년도 이전':10,'2014년':10, '2015년':15, '2016년':None, 'last_increase':None}
]

my_country_df = pd.DataFrame(my_contry)

_temp = [my_country_df, cctv_seoul]

result = pd.concat(_temp,ignore_index=False)

result

    2013년도 이전  2014년  2015년 2016년  _sum  dist last_increase
0          10     10     15  None    70   흥덕구          None
0        1292    430    584   932  3238   강남구       150.619
1         379     99    155   377  1010   강동구       166.491
2         369    120    138   204   831   강북구       125.203
3         388    258    184    81   911   강서구       134.794
4         846    260    390   613  2109   관악구       149.291
5         573     78     53   174   878   광진구       53.2286
6        1142    173    246   323  1884   구로구       64.9737
7         674     51    269   354  1348   금천구           100
8         542     57    451   516  1566   노원구        188.93
9         238    159     42   386   825   도봉구       246.639
10       1070     23    198   579  1870  동대문구       74.7664
11        544    341    103   314  1302   동작구       139.338
12        314    118    169   379   980   마포구       212.102
13        844     50     68   292  1254  서대문구       48.5782
14       1406    157    336   398  2297   서초구       63.3713
15        730     91    241   265  1327   성동구       81.7808
16       1009     78    360   204  1651   성북구       63.6274
17        529     21     68   463  1081   송파구       104.348
18       1843    142     30   467  2482   양천구       34.6717
19        495    214    195   373  1277  영등포구        157.98
20       1368    218    112   398  2096   용산구       53.2164
21       1138    224    278   468  2108   은평구       85.2373
22        464    314    211   630  1619   종로구       248.922
23        413    190     72   348  1023    중구         147.7
24        509    121    177   109   916   중랑구       79.9607

In [30]:
cctv_seoul = cctv_seoul.append(my_contry)
cctv_seoul

    dist  _sum  2013년도 이전  2014년  2015년 2016년 last_increase
0    강남구  3238       1292    430    584   932       150.619
1    강동구  1010        379     99    155   377       166.491
2    강북구   831        369    120    138   204       125.203
3    강서구   911        388    258    184    81       134.794
4    관악구  2109        846    260    390   613       149.291
5    광진구   878        573     78     53   174       53.2286
6    구로구  1884       1142    173    246   323       64.9737
7    금천구  1348        674     51    269   354           100
8    노원구  1566        542     57    451   516        188.93
9    도봉구   825        238    159     42   386       246.639
10  동대문구  1870       1070     23    198   579       74.7664
11   동작구  1302        544    341    103   314       139.338
12   마포구   980        314    118    169   379       212.102
13  서대문구  1254        844     50     68   292       48.5782
14   서초구  2297       1406    157    336   398       63.3713
15   성동구  1327        730     91    241   265       81.7808
16   성북구  1651       1009     78    360   204       63.6274
17   송파구  1081        529     21     68   463       104.348
18   양천구  2482       1843    142     30   467       34.6717
19  영등포구  1277        495    214    195   373        157.98
20   용산구  2096       1368    218    112   398       53.2164
21   은평구  2108       1138    224    278   468       85.2373
22   종로구  1619        464    314    211   630       248.922
23    중구  1023        413    190     72   348         147.7
24   중랑구   916        509    121    177   109       79.9607
0    흥덕구    70         10     10     15  None          None
0    흥덕구    70         10     10     15  None          None

In [31]:
 print(cctv_seoul.dist.unique())

['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구' '흥덕구']

In [33]:
cctv_seoul.drop_duplicates(['dist'], keep='last', inplace=True)
cctv_seoul

    dist  _sum  2013년도 이전  2014년  2015년 2016년 last_increase
0    강남구  3238       1292    430    584   932       150.619
1    강동구  1010        379     99    155   377       166.491
2    강북구   831        369    120    138   204       125.203
3    강서구   911        388    258    184    81       134.794
4    관악구  2109        846    260    390   613       149.291
5    광진구   878        573     78     53   174       53.2286
6    구로구  1884       1142    173    246   323       64.9737
7    금천구  1348        674     51    269   354           100
8    노원구  1566        542     57    451   516        188.93
9    도봉구   825        238    159     42   386       246.639
10  동대문구  1870       1070     23    198   579       74.7664
11   동작구  1302        544    341    103   314       139.338
12   마포구   980        314    118    169   379       212.102
13  서대문구  1254        844     50     68   292       48.5782
14   서초구  2297       1406    157    336   398       63.3713
15   성동구  1327        730     91    241   265       81.7808
16   성북구  1651       1009     78    360   204       63.6274
17   송파구  1081        529     21     68   463       104.348
18   양천구  2482       1843    142     30   467       34.6717
19  영등포구  1277        495    214    195   373        157.98
20   용산구  2096       1368    218    112   398       53.2164
21   은평구  2108       1138    224    278   468       85.2373
22   종로구  1619        464    314    211   630       248.922
23    중구  1023        413    190     72   348         147.7
24   중랑구   916        509    121    177   109       79.9607
0    흥덕구    70         10     10     15  None          None

In [34]:
cctv_seoul.isnull()

     dist   _sum  2013년도 이전  2014년  2015년  2016년  last_increase
0   False  False      False  False  False  False          False
1   False  False      False  False  False  False          False
2   False  False      False  False  False  False          False
3   False  False      False  False  False  False          False
4   False  False      False  False  False  False          False
5   False  False      False  False  False  False          False
6   False  False      False  False  False  False          False
7   False  False      False  False  False  False          False
8   False  False      False  False  False  False          False
9   False  False      False  False  False  False          False
10  False  False      False  False  False  False          False
11  False  False      False  False  False  False          False
12  False  False      False  False  False  False          False
13  False  False      False  False  False  False          False
14  False  False      False  False  False  False          False
15  False  False      False  False  False  False          False
16  False  False      False  False  False  False          False
17  False  False      False  False  False  False          False
18  False  False      False  False  False  False          False
19  False  False      False  False  False  False          False
20  False  False      False  False  False  False          False
21  False  False      False  False  False  False          False
22  False  False      False  False  False  False          False
23  False  False      False  False  False  False          False
24  False  False      False  False  False  False          False
0   False  False      False  False  False   True           True

# Null 을 0 으로 변경

In [35]:
cctv_seoul['2016년'] = cctv_seoul['2016년'].fillna(0)
cctv_seoul

    dist  _sum  2013년도 이전  2014년  2015년  2016년 last_increase
0    강남구  3238       1292    430    584    932       150.619
1    강동구  1010        379     99    155    377       166.491
2    강북구   831        369    120    138    204       125.203
3    강서구   911        388    258    184     81       134.794
4    관악구  2109        846    260    390    613       149.291
5    광진구   878        573     78     53    174       53.2286
6    구로구  1884       1142    173    246    323       64.9737
7    금천구  1348        674     51    269    354           100
8    노원구  1566        542     57    451    516        188.93
9    도봉구   825        238    159     42    386       246.639
10  동대문구  1870       1070     23    198    579       74.7664
11   동작구  1302        544    341    103    314       139.338
12   마포구   980        314    118    169    379       212.102
13  서대문구  1254        844     50     68    292       48.5782
14   서초구  2297       1406    157    336    398       63.3713
15   성동구  1327        730     91    241    265       81.7808
16   성북구  1651       1009     78    360    204       63.6274
17   송파구  1081        529     21     68    463       104.348
18   양천구  2482       1843    142     30    467       34.6717
19  영등포구  1277        495    214    195    373        157.98
20   용산구  2096       1368    218    112    398       53.2164
21   은평구  2108       1138    224    278    468       85.2373
22   종로구  1619        464    314    211    630       248.922
23    중구  1023        413    190     72    348         147.7
24   중랑구   916        509    121    177    109       79.9607
0    흥덕구    70         10     10     15      0          None

In [36]:
cctv_seoul.sort_values(by='last_increase', ascending=False)

    dist  _sum  2013년도 이전  2014년  2015년  2016년 last_increase
22   종로구  1619        464    314    211    630       248.922
9    도봉구   825        238    159     42    386       246.639
12   마포구   980        314    118    169    379       212.102
8    노원구  1566        542     57    451    516        188.93
1    강동구  1010        379     99    155    377       166.491
19  영등포구  1277        495    214    195    373        157.98
0    강남구  3238       1292    430    584    932       150.619
4    관악구  2109        846    260    390    613       149.291
23    중구  1023        413    190     72    348         147.7
11   동작구  1302        544    341    103    314       139.338
3    강서구   911        388    258    184     81       134.794
2    강북구   831        369    120    138    204       125.203
17   송파구  1081        529     21     68    463       104.348
7    금천구  1348        674     51    269    354           100
21   은평구  2108       1138    224    278    468       85.2373
15   성동구  1327        730     91    241    265       81.7808
24   중랑구   916        509    121    177    109       79.9607
10  동대문구  1870       1070     23    198    579       74.7664
6    구로구  1884       1142    173    246    323       64.9737
16   성북구  1651       1009     78    360    204       63.6274
14   서초구  2297       1406    157    336    398       63.3713
5    광진구   878        573     78     53    174       53.2286
20   용산구  2096       1368    218    112    398       53.2164
13  서대문구  1254        844     50     68    292       48.5782
18   양천구  2482       1843    142     30    467       34.6717
0    흥덕구    70         10     10     15      0          None